.btn-light-red {
    color: var(--plain-white);
    background: var(--light-red);
    transition: all 0.3s ease;
}

form button {
    display: block;
    width: 100%;
}

form a.btn {
    display: block;
    width: 100%;
}

form button+button {
    margin-top: 0.5rem;
}

/* Responsive */

/* xs and down */
@media screen and (max-width: 576px) {

}

/* sm and up*/
@media screen and (min-width: 576px) {

}

/* md and up*/
@media screen and (min-width: 768px) {

}

/* lg and up*/
@media screen and (min-width: 992px) {
    .btn-light-red:hover {
        color: var(--plain-black);
        background: var(--light-brown);
        padding-right: 1.1rem;
        padding-left: 1.1rem;
    }

    form button {
        display: inline;
        width: unset;
    }
    
    form button+button {
        margin-top: unset;
    }

    form a.btn {
        display: inline;
        width: unset;
    }

    form a.btn+.btn {
        margin-top: unset;
    }
}

/* xl and up*/
@media screen and (min-width: 1200px) {
}