.bg-abstract-1 {
    background-image: url('../img/prometeo-login-background-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-abstract-2 {
    background-image: url('../img/prometeo-login-info-animation.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-abstract-3 {
    background-image: url('../img/prometeo-login-background-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-abstract-4 {
    background-image: url('../img/prometeo-account-top-background-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Responsive */

/* xs and down */
@media screen and (max-width: 576px) {

}

/* sm and up*/
@media screen and (min-width: 576px) {

}

/* md and up*/
@media screen and (min-width: 768px) {
    .bg-abstract-3 {
        background-image: unset;
    }
}

/* lg and up*/
@media screen and (min-width: 992px) {
    
}

/* xl and up*/
@media screen and (min-width: 1200px) {
}